@import "../../sass/abstracts/variables";

.gallery-product__img-wrapper {
  width:  400px;
  height: 300px;
  overflow: hidden;
  border: 1px solid $light-grey-color;
  border-radius: 5px;
}

.gallery-product__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}