@import './../../sass/style.scss';

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 74%;
}