@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.personal {
  margin: 0 0 30px 0;
  
  &__title {
    @include modal-title;

    &::after {
      @include modal-title-after;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__input {
    @include modal-input;

    &.invalid {
     @include modal-input-invalid;
    }

    &.valid {
      @include modal-input-valid;
    }

    &::placeholder {
      @include modal-placeholder;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }

  &__mark {
    text-transform: uppercase;
  }

  &__error {
    color: red;
  }
}