.card-product{
  max-width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title{
    margin: 0 0 20px 0;
    text-align: center;
  }

  &__content{
    display: flex;
  }
}

.gallery-product{
  flex: 0 1 50%;
  display: flex;

  &__list{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
  }

  &__item{
    width: 80px;
    height: 50px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover{
      outline: 1px solid black;
    }
  }

  &__img-mini{
    width: 100%;
    height: 100%;
  }

  &__main{
    flex: 0 1 500px;
  }
}

.desc-card {

  &__title{}

  &__list{}
}

.desc-card__item{

  &_rating{}

  &_brand{}

  &_description{}

  &_price{}

  &_category{}

  &_stock{}
}

.btns-card{
  &__cart{}
  &__buy-now{}
}