@import './../../sass/style.scss';
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  display: flex;

  &__wrapper {
    flex: 0 0 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    flex: 0 0 600px;
    max-width: 100%;
    padding: 40px;
    border-radius: 5px;
    background: $background-color;
    display: flex;
    flex-direction: column;
  }


}
.form {

  &__group {
    display: flex;
    flex-direction: column;
  }
}
