@import './../../sass/style.scss';

.filter-list {
    display: flex;
    flex-basis: 24%;
    flex-direction: column;
    gap: 30px;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
}